body{
    background-color: #dddddd !important;
}
.bg-blue {
    background-color: #132e6b !important;
}

a.bg-blue:focus, a.bg-primary:hover {
    background-color: #132e6b !important;
}
.navbar-dark .navbar-nav .btn {
    color: #ffffff !important;
}
.title-page h2 {
    text-align: center;
    font-weight: bolder;
    margin-left: 40%;
}
.title-page{
    margin-top: 65px;
}
.body-page {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
}
.botoes-form {
    justify-content: flex-end;
    display: flex;
}
.botoes-form .btn {
    margin-left: 5px;
}
.anuncio{
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.anuncio p{
    text-align: justify;
}
.list-group .filtro{
    color: #495057;
}
.list-group .filtro:hover{
    color: #0b0c0e;
    text-decoration: none;
}
.avaliacao-projeto i{
    color: #e0d502;
}
.badge {
    padding: 10px 15px 10px 15px !important;
    height: 80%;
}
.card {
    margin-bottom: 5px;
    width: 100%;
}
.informacoes{
    margin: 20px 0 20px 0;
}
.informacoes div p{
    margin: 5px;
}
.fundo-conversa{
    background: #dddddd;
    padding: 10px;
    overflow-y: scroll;
    height: 327px;
    border: 1px solid #dddddd;
}
.mensagem{
    margin-bottom: 5px;
    width: 90%;
    padding: 5px;
    background-color: #ffffff;
}
.enviada{
    margin-left: 10%;
    background-color: #c1f0c1;
    margin-top: 15px;
    margin-bottom: 15px;
}
.recebida{
    margin-right: 10%;
}
.mensagem p{
    margin: 0;
}
.campo-mensagem{
    resize: none;
}
.button-chat{
    margin: 5px;
}
.icon-chat{
    margin: 5px;
    text-decoration: none !important;
    color: black;
}
.conversa{
    flex: 1 1 auto;
    padding: 10px 15px 10px 15px;
}
.card-user{
    flex: 1 1 auto;
    padding: 10px 15px 10px 15px;
}
.card-projeto{
    flex: 1 1 auto;
    padding: 10px 15px 10px 15px;
}
.image-user{
    border-radius: 35px;
    margin: 5px;
    width: 70px;
    height: 70px;
}
.info-user{
    padding-top: 10px;
    padding-left: 5px;
}
.name-user{
    margin: 0;
}
.descricao-projeto{
    margin-bottom: 10px;
}
.estrelas{
    font-size: 25px;
}
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
.btn-default,
.btn-info,
.btn-danger {
  border: 1px solid #007bff !important;
  color: #007bff !important;
  background-color: white !important;
}
.btn-default:hover,
.btn-danger:hover {
  color: white !important;
  background-color: #007bff !important;
}
.btn-primary,
.btn-success{
  color: #007bff !important;
  background-color: white !important;
  border-color: #007bff !important;
}
.btn-primary:hover,
.btn-success:hover,
.btn-info:hover,
.badge-info {
  background-color: #132e6b !important;
  border-color: #132e6b !important;
  color: white !important;
}
.btn-outline-success {
  border: none !important;
}
.btn-outline-success:hover {
    background: none !important;
    border: none !important;
}
.navbar-dark .navbar-nav .btn {
  color: rgba(255,255,255,.5) !important;
}
.navbar-dark .navbar-nav .btn:hover {
  color: rgba(255,255,255,.75) !important;
}
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle,
.btn-outline-success.focus,
.btn-outline-success:focus {
  background-color: inherit !important;
  border: none !important;
  box-shadow: none !important;
}
span.input-group-btn {
  margin-left: 5px;
}
.input-group {
  top: 5px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #bbbbbb !important;
}
a.dropdown-item {
  color: #6d6a6a !important;
  opacity: 0.6 !important;
}
a.dropdown-item:hover {
  opacity: 1 !important;
  background-color: white !important;
}
