body{
    background-color: #dddddd !important;
}
.bg-blue {
    background-color: #132e6b !important;
}
  
a.bg-blue:focus, a.bg-primary:hover {
    background-color: #132e6b !important;
}
.navbar-dark .navbar-nav .btn {
    color: #ffffff !important;
}
.title-page h1 {
    text-align: center;
    font-weight: bolder;
    margin: 0;
}
.title-page{
    margin-top: 65px;
}
.body-page {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
}
.botoes-form {
    justify-content: flex-end;
    display: flex;
}
.botoes-form .btn {
    margin-left: 5px;
}
.form-busca{
    margin-left: 135px;
}
.anuncio{
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.anuncio p{
    text-align: justify;
}
.list-group .filtro{
    color: #495057;
}
.list-group .filtro:hover{
    color: #0b0c0e;
    text-decoration: none;
}
.avaliacao-projeto i{
    color: #e0d502;
}
.badge {
    padding: 10px 15px 10px 15px !important;
    height: 20px;
}